div{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.level-button{
    border: none;
    color: #fff;
    font-size: 26px;
    background:transparent;
    transition: all 0.25s;
    outline: none;
}
.level-button:hover{
    color: #a1a1a1;
}
span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
input[type="text"]{
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    border:3px solid white;
    border-radius: 2px;
    font-size: 20px;
    margin-left: 2vw;
    text-align: right;
}
input[type="submit"]{
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.25s;
    font-size: 20px;
}
input[type="submit"]:hover{
    color: #a1a1a1;
    
}
form{
    margin-bottom: 10px;
}
.return-button{
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    width: 100px;
    font-size: 20px;
    height: 40px;
    transition: all 0.25s;
}
.return-button:hover{
    transform: scale(1.25);
}