main{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
h1{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10vh;
}
button{
    border: none;
    color: #fff;
    font-size: 26px;
    background:transparent;
    transition: all 0.25s;
    outline: none;
}
button:hover{
    color: #a1a1a1;
}